@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
	--white: white;
	--black: #171618;
	--blue: #2b44e7;
	--borders: #38388a1f;
	--grey: #5b5a59;
	--grey-bg: #f1f4ff;
	--grayscale: #727578;
	--font-size-14: 0.7rem;
	--linen: #c9baac;
	--blue--hover: #6e81ff;
	--yellow: #ffd231;
	--orange: #ff9000;
	--pink: #fbb8fd;
	--green: #2bca76;
	--light: #f5f3f4;
	--hero-gradient: #f5f6fd;
	--line-height-26: 1.182rem;
	--beige: #fffaf5;
	--teal: #23c1f2;
	--mw: 630px;
	--light-grey: #efefef;
	--grey-2: #ececec;
	--untitled-ui--gray900: #101828;
	--untitled-ui--gray100: #f2f4f7;
	--untitled-ui--primary600: #7f56d9;
	--untitled-ui--white: white;
	--untitled-ui--primary700: #6941c6;
	--untitled-ui--primary100: #f4ebff;
	--untitled-ui--gray300: #d0d5dd;
	--untitled-ui--gray700: #344054;
	--untitled-ui--gray50: #f9fafb;
	--untitled-ui--gray800: #1d2939;
	--untitled-ui--gray600: #475467;
	--untitled-ui--gray400: #98a2b3;
	--untitled-ui--primary800: #53389e;
	--untitled-ui--primary50: #f9f5ff;
	--untitled-ui--gray200: #eaecf0;
	--heading-font: "Eudoxus Sans", Arial, sans-serif;
	--light-grey-2025: #fafafa;
	--font-size-32: 1.6rem;
	--violet: #38296c;
	--dark-green: #004d60;
	--font-size-29: 1.32rem;
	--line-height-27: 1.24rem;
	--letter-spacing-02: -0.013rem;
	--font-size-16: 0.73rem;
	--letter-spacing-016: -0.007rem;
	--font-size-15: 0.76rem;
	--gap-40: 1.818rem;
	--dark-violet: #241a42;
	--font-size-13: 0.68rem;
	--lilac: #f5f0ff;
	--light-blue: #defafe;
	--light-purple: #8368f9;
	--gap-120: 5.455rem;
	--font-size-12: 0.62rem;
	--mauve: #8423ff;
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.141 0.005 285.823);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.141 0.005 285.823);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.141 0.005 285.823);
	--primary: oklch(0.21 0.006 285.885);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.967 0.001 286.375);
	--secondary-foreground: oklch(0.21 0.006 285.885);
	--muted: oklch(0.967 0.001 286.375);
	--muted-foreground: oklch(0.552 0.016 285.938);
	--accent: oklch(0.967 0.001 286.375);
	--accent-foreground: oklch(0.21 0.006 285.885);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.92 0.004 286.32);
	--input: oklch(0.92 0.004 286.32);
	--ring: oklch(0.705 0.015 286.067);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.141 0.005 285.823);
	--sidebar-primary: oklch(0.21 0.006 285.885);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.967 0.001 286.375);
	--sidebar-accent-foreground: oklch(0.21 0.006 285.885);
	--sidebar-border: oklch(0.92 0.004 286.32);
	--sidebar-ring: oklch(0.705 0.015 286.067);
	--breathing-width: 1500px
}

.font-1 {
	font-family: var(--font-inter);
}

body {
	background: #feffff;
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

.dark {
	--background: oklch(0.141 0.005 285.823);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.21 0.006 285.885);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.21 0.006 285.885);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.92 0.004 286.32);
	--primary-foreground: oklch(0.21 0.006 285.885);
	--secondary: oklch(0.274 0.006 286.033);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.274 0.006 286.033);
	--muted-foreground: oklch(0.705 0.015 286.067);
	--accent: oklch(0.274 0.006 286.033);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.552 0.016 285.938);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.21 0.006 285.885);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.274 0.006 286.033);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}

body {
	background: #feffff;
}

.font-1 {
	font-family: var(--font-inter);
}

.head.hero {
	opacity: 1;
	background-image: none;
	background-repeat: repeat;
	background-size: auto;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 300vh;
	padding-top: 0;
	padding-bottom: 0;
	font-family: Inter, sans-serif;
	display: flex;
}

.hero-gradient-2 {
	z-index: -1;
	opacity: 1;
	background-image: url(https://cdn.prod.website-files.com/62b5b85…/65e0f5e…_bg.jpg);
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-size: 100%;
	flex: none;
	height: 100%;
	position: absolute;
	inset: auto 0% 0%;
}



@keyframes gradient {
  0% {
    fill: #000000;
    transform: rotate(-360deg);
  }
  50% {
    fill: #2B44E7;
  }
  100% {
    fill: #000000;
    transform: rotate(0deg);
  }
}

.animate-logo {
  animation: gradient 1s cubic-bezier(.645, .045, .355, 1) forwards;
  transform-origin: 14px 14px; /* ensure transform origin is set */
}

.sphere-anim {
    pointer-events: none;
    background-image: url(https://cdn.prod.website-files.com/62b5b85dd560583e288cb389/65ee29f58df7cc2fd831b550_boucle-ai-test-min.png);
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    flex: none;
    width: 120px;
    height: 120px;
    display: block;
    transform: scale(.5);
	animation: play-sphere 1s steps(60) infinite;
}

@keyframes play-sphere{
	0% {
    background-position: 0px;
}
100% {
    background-position: -7200px;
}
}



@layer utilities {
  @keyframes fade-in-up {
    0% {
      opacity: 0;
	  filter: blur(20);
      transform: translateY(30px);
    }

    50% {
      opacity: 0.5;
	  filter: blur(0);
      transform: translateY(10px);
    }
	
    100% {
      opacity: 1;
	  filter: blur(0);
      transform: translateY(0);
    }
  }

  .animate-fade-in {
    animation: fade-in-up 0.25s ease-out forwards;
  }
}
